.opening-hours {
	margin: auto;
	width: 30%;
}

.google-map {

	position: relative;
}

.google-map iframe {
	display: block;
	border-style: none;
	left: 0;
	top: 0;
	margin: auto;
	position: relative;
}
