.grid-container { 
	text-align: center;
	margin-left: 600px;
	margin-right: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
	
	padding-top: 20px;
	padding-bottom: 18px;
	
	padding: 5px;
	  overflow: auto;
  white-space: nowrap;
}

#image-gallery {
	position: relative;
	width: 800px; 
	margin: 0 auto;
}

#current-image {
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.thumb {
 	width: 100px;
	height: auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	align-items: center;
	text-align: center;
	cursor: pointer;
	border-radius: 10%;	
	padding: 5px;
}