.opening-hours {
	margin: auto;
	height: 80%;
	width: 50%;
}

.google-map {
	margin: auto;
	height: 80%;
	width: 50%;
	padding-bottom: 40%;
	position: relative;
}

.google-map iframe {
	position: relative;
	display: block;
}